*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    text-align: center;
    background-image: url("https://services.meteored.com/img/article/o-clima-de-outubro-e-a-mudanca-de-padrao-la-nina-seco-quente-chuva-282121-1_768.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    
}
.input{
    text-align: center;
    margin: 100px 0;
}
input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: #e7e7e7;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: #e7e7e7;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}
.display{
    text-align: center;
}